body{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
    margin-left: 30px;
    padding-left: 10px;
}
.top-banner{
    background-image:url(image/bg/banner2.png);
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.middle-banner{
    background-image: url(image/bg/banner1.jpg);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.li-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 162, 255),rgb(0, 238, 255));
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.menu-banner{
    background-image: url(image/bg/bg6.jpg);
    background-repeat: no-repeat;
    border-bottom: 60px;
    background-position:left;
    
}
.menu-image{
   /*  width: auto;
  height: auto;*/ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}


.menu-items{
    border-radius: 5%;
    width:30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    padding-left: 10px;
    padding-right: 20px;

}
.menu-text{
    text-align: center;
    border-left: 20px;
    padding: 10px 20px;
}
#img1{
    border-radius: 10%;
}
.final-part{
    border-radius: 10px;
    background-image:url(image/bg/banner2.png);
    background-repeat: no-repeat;
    background-color: rgba(10, 100, 2, .1);
    box-shadow: 10px 10px 40px grey;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 20px;
    
}
.final-image{
    border-radius: 9px;
    box-shadow: 10px 10px 40px grey;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
}
.final-text{
    padding-left: 10px;
    padding-right: 20px;
    text-align:center;
}

.half-wight{
    width: 50%;
}
.heroeating{
    margin-left: 100px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
span{
    color: orange;
}
footer p{
    text-align: center;
    margin-top:  30px;
    padding-top: 60px;
}